/*
target {
	property: value;
} used to modify changes in your website*/

body {

	background-color: gray;
}

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat&family=Roboto:wght@400;500&display=swap');


* {
	font-family: 'Roboto', sans-serif;

}

h2 {
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-family: 'Ephesis', cursive;
	font-size: 54px;
}